service phone_state_bridge /vendor/bin/phone_state_bridge.sh
    class late_start
    user root
    group root audio system
    oneshot
    seclabel u:r:shell:s0

on property:sys.boot_completed=1
    exec_background u:r:shell:s0 root audio system -- /vendor/bin/phone_state_bridge.sh
